<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="static/index.css">
</head>
<body>
    <div class = "nameCard">
        <h1>Avinaash A</h1>
        <h2>Senior Web Developer</h2>
        <span id="logo">
            <img src="https://img.freepik.com/free-psd/3d-square-with-twitter-logo_125540-1571.jpg?size=626&ext=jpg" alt="" >
            <img src="https://img.freepik.com/free-psd/3d-square-with-twitter-logo_125540-1571.jpg?size=626&ext=jpg" alt="">
        </span>
        <h3>Feel Free to Contact us!!</h3>
        <h4>Contact Number: 9191919191</h4>
    </div>
    
</body>
</html>